<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title LAYOUTS
    body
        header.header 
            .header__col1 col1
            .header__col2 col2

        main.main
            .main__col1 col1

        bottom.bottom
            .bottom__col1 col1
            .bottom__col2 col2
            .bottom__col3 col3