@import "./reset.css";

.header {
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
}

.header .header__col1 {
  width: 750px;
  height: 60px;
  background-color: #a6dcef;
}

.header .header__col2 {
  width: 750px;
  height: 60px;
  background-color: #d4f3ef;
}

.main {
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: row;
}

.main .main__col1 {
  width: 100%;
  height: 70vh;

  background-color: #c2f0fc;
}

.bottom {
  width: 100%;
  height: 20px;

  display: flex;
  flex-direction: row;
}

.bottom .bottom__col {
  width: 100%;
  height: 30vh;

  background-color: orange;
}
