@import "./reset.css";

.header {
  width: 100%;
  height: 60px;

  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
}

.header .header__col1 {
  width: 750px;
  height: 60px;
  background-color: aqua;
}

.header .header__col2 {
  width: 750px;
  height: 60px;
  background-color: bisque;
}
